##############################
## Ява
##############################
.mtj.tmp/
*.class
*.jar
*.война
*.ухо
*.nar
hs_err_pid*

##############################
## Мавен
##############################
цель/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
пом.xml.bak
релиз.свойства
зависимость-сниженная-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/обертка/мавен-обертка.jar

##############################
## Грейдл
##############################
бункер/
строить/
.gradle
.gradletasknamecache
gradle-app.setting

##############################
## IntelliJ
##############################
вне/
.идея/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## # Затмение
##############################
.настройки/
бункер/
тмп/
.метаданные
.classpath
.проект
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/частный/
строить/
nbbuild/
dist/
nbdist/
нбакции.xml
nb-конфигурация.xml

##############################
## Код Visual Studio
##############################
vscode-файл/
.code-рабочая область

##############################
## ОС X
##############################
. DS_Store